<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-exclamation-triangle"></i>
                        </div>
                        <p class="card-category">Total Accidents</p>
                        <h3 class="card-title">{{curentMonthAccident}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <p class="card-category">Current Month</p>
                        <h3 class="card-title">{{curentMonthAccident}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bell"></i>
                        </div>
                        <p class="card-category">Avg Reporting time</p>
                        <h3 class="card-title">{{averageReportingTime}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-ambulance"></i>
                        </div>
                        <p class="card-category">Total Lives Saved</p>
                        <h3 class="card-title">{{totalLifeSaves}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                            <h4 class="card-title">Monthly Status</h4>                        
                    </div>
                    <div class="card-body">
                            <div class="ct-chart" id="dailySalesChart"></div>      
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-success">
                            <h4 class="card-title">Today's Accidents</h4>                        
                    </div>
                    <div class="card-body">
                            <app-maps [accidentData]="accidentData" [mapLatLong]="mapLatLong"></app-maps>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Accident Type</h4>
                    </div>
                    <div class="card-body">                                      
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Average Reporting Time</h4>                                                
                    </div>
                    <div class="card-body">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
